<main>
    <header>
        <section className="logo">
          <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
        </section>
        <section className="nav-items">
          <ul>
            <li><a href="#" >Início</a></li>
            <li><a href="#"  >Serviços</a></li>
            <li><a href="#">Médicos(as)</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Entrar</a></li>
          </ul>
        </section>
    </header>

    <section>
        <h2>Faça login em sua conta</h2>
        <button></button>
        <div>
            <span>OU</span>
        </div>
        <button></button>
    </section>
</main>